<?xml version = "1.0"?>
<settings>
    <!-- Master volume for all music. Decimal between 0 and 1 -->
    <volume>0.4</volume>

    <!-- Should music loop? If not true, then another song is selected from scene matches -->
    <loop>true</loop>

    <!-- To have this plugin scan a different directory for music files,
        Uncomment <music-path> below (remove <!- - and - -> from the line below) -->

    <!-- <music-path>C:\Users\YourName\Music\SomeMusicFolder</music-path> -->

    <!--
        Here is where you define what songs are used in which scenes and if they are
        "boss" music (played during teleporter events or not).

        *****  If you just want to play with Payday 2 music, you just need to make sure  *****
        *****  your music filenames match EXACTLY with all name="" attributes below. *****

        Here is an example of a file that will play on the title screen and other main menus:

        <song
            name="Mayhem.mp3"
            scenes="title,lobby,logbook,crystalworld,eclipseworld"
            boss="false"
            volume="0.25"
        />


    -->
    <music>
        <song
            name="Mayhem.mp3"
            scenes="splash"
            boss="false"
            volume="0.25"
	/>
        <song
            name="Mayhem.mp3"
            scenes="intro"
            boss="false"
            volume="0.25"
	/>
        <song
            name="Pimped.mp3"
            scenes="outro"
            boss="false"
            volume="0.75"
	/>
        <song
            name="Mayhem.mp3"
            scenes="loadingbasic"
            boss="false"
            volume="0.25"
	/>
        <song
            name="Mayhem.mp3"
            scenes="title"
            boss="false"
            volume="0.25"
	/>
        <song
            name="Mayhem.mp3"
            scenes="lobby"
            boss="false"
            volume="0.2"
        />
        <song
            name="Mayhem.mp3"
            scenes="logbook"
            boss="false"
            volume="0.2"
        />
        <song
            name="Mayhem.mp3"
            scenes="crystalworld"
            boss="false"
            volume="0.2"
        />
        <song
            name="Mayhem.mp3"
            scenes="eclipseworld"
            boss="false"
            volume="0.2"
        />
        <song
            name="WhiteCollar.mp3"
            scenes="bazaar"
            boss="false"
            volume="0.50"
        />
        <song
            name="The Tale of a Cruel World Title Theme.mp3"
            scenes="blackbeach"
            boss="false"
            volume="0.50"
	/>
        <song
            name="DropZone.mp3"
            scenes="blackbeach"
            boss="true"
            volume="0.50"
	/>
        <song
            name="DropZone.mp3"
            scenes="golemplains"
            boss="false"
            volume="0.50"
	/>
        <song
            name="Razormind.mp3"
            scenes="golemplains"
            boss="true"
            volume="0.50"
        />
        <song
            name="EvilEye.mp3"
            scenes="foggyswamp"
            boss="false"
            volume="0.75"
	/>
        <song
            name="DonAcDum.mp3"
            scenes="foggyswamp"
            boss="true"
            volume="0.50"
        />
        <song
            name="HotPursuit.mp3"
            scenes="goolake"
            boss="false"
            volume="0.50"
	/>
        <song
            name="DonAcDum.mp3"
            scenes="goolake"
            boss="true"
            volume="0.50"
        />
        <song
            name="Breach.mp3"
            scenes="frozenwall"
            boss="false"
            volume="0.50"
	/>
        <song
            name="DeathRow.mp3"
            scenes="frozenwall"
            boss="true"
            volume="0.50"
        />
        <song
            name="FuseBox.mp3"
            scenes="wispgraveyard"
            boss="false"
            volume="0.75"
	/>
        <song
            name="DonAcDum.mp3"
            scenes="wispgraveyard"
            boss="true"
            volume="0.50"
        />
        <song
            name="Breach.mp3"
            scenes="dampcavesimple"
            boss="false"
            volume="0.50"
	/>
        <song
            name="HomeInvasion.mp3"
            scenes="dampcavesimple"
            boss="true"
            volume="0.50"
        />
        <song
            name="FFForward.mp3"
            scenes="shipgraveyard"
            boss="false"
            volume="0.55"
	/>
        <song
            name="GiveYouAll.mp3"
            scenes="shipgraveyard"
            boss="true"
            volume="0.55"
        />
        <song
            name="HomeInvasion.mp3"
            scenes="rootjungle"
            boss="false"
            volume="0.5"
	/>
        <song
            name="HotPursuit.mp3"
            scenes="rootjungle"
            boss="true"
            volume="0.5"
        />
        <song
            name="Gauntlet.mp3 "
            scenes="skymeadow"
            boss="false"
            volume="0.5"
	/>
        <song
            name="GiveYouAll.mp3"
            scenes="skymeadow"
            boss="true"
            volume="0.5"

        />
        <song
            name="OdeToGreed.mp3"
            scenes="moon"
            boss="false"
            volume="0.5"
	/>
        <song
            name="BreakTheRules.mp3"
            scenes="moon"
            boss="true"
            volume="0.5"
	/>
        <song
            name="DropZone.mp3"
            scenes="snowyforest"
            boss="false"
            volume="0.5"
	/>
        <song
            name="FFForward.mp3"
            scenes="snowyforest"
            boss="true"
            volume="0.5"
	/>
        <song
            name="EvilEye.mp3"
            scenes="ancientloft"
            boss="false"
            volume="0.5"
	/>
        <song
            name="DeathRow.mp3"
            scenes="ancientloft"
            boss="true"
            volume="0.5"
	/>
        <song
            name="FuseBox.mp3"
            scenes="sulfurpools"
            boss="false"
            volume="0.5"
	/>
        <song
            name="GiveYouAll.mp3"
            scenes="sulfurpools"
            boss="true"
            volume="0.5"
	/>
        <song
            name="Sirens.mp3"
            scenes="voidraid"
            boss="false"
            volume="0.5"
	/>
        <song
            name="Razormind.mp3"
            scenes="voidraid"
            boss="true"
            volume="0.5"
	/>
        <song
            name="DeathWish.mp3"
            scenes="voidstage"
            boss="true"
            volume="0.5"
        />
        <song
            name="DeathWish.mp3"
            scenes="artifactworld"
            boss="false"
            volume="0.5"
        />
        <song
            name="DeathWish.mp3"
            scenes="arena"
            boss="false"
            volume="0.5"
        />
        <song
            name="DonAcDum.mp3"
            scenes="mysteryspace"
            boss="true"
            volume="0.5"
        />
        <song
            name="WhiteCollar.mp3"
            scenes="limbo"
            boss="false"
            volume="0.5"
        />
        <song
            name="BreakTheRules.mp3"
            scenes="goldshores"
            boss="false"
            volume="0.5"
        />
    </music>
</settings>
